.kanban {
    padding: 1rem;
    margin: 0 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;

    &--controls {
        padding: 1rem;
        border-bottom: 1px solid rgb(214, 211, 210);

        &-btn {
            margin-right: 1rem;
        }

        &-search {
            margin-top: .75rem;
            min-width: 400px;
            width: 40%;
        }

        &-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    &--column {
        width: 100%;
        min-height: 320px;
        min-width: 300px;
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 4px;
        background-color: #f6f7f9;
    }

    &--card-wrapper-col {
        width: 100%;
        max-height: 600px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &--card-wrapper-row {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        & > * {
            margin-left: 1rem;
        }
    }

    &--header {
        position: relative;
        width: 100%;
        padding: .5rem 0;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        border: 1px solid #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        &-icon-btn {
            position: absolute;
            right: 0;
        }
    }

    &--title {
        margin: 0;
        color: #fff;
    }
}

.not-started {
    background-color: #4FC3F7;
}

.in-progress {
    background-color: #FFB74D;
}

.need-support {
    background-color: #DF2F4A;
}

.complete {
    background-color: #4ae652;
}